In [1]:
import pandas as pd
dataset = pd.read_csv("Social_Network_Ads.csv")

In [2]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [5]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset = dataset.drop("User ID",axis=1)

In [7]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0         True
1     35            20000          0         True
2     26            43000          0        False
3     27            57000          0        False
4     19            76000          0         True
..   ...              ...        ...          ...
395   46            41000          1        False
396   51            23000          1         True
397   50            20000          1        False
398   36            33000          0         True
399   49            36000          1        False

[400 rows x 4 columns]

In [9]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [11]:
dataset[[ 'Purchased']].value_counts()

Purchased
0            257
1            143
Name: count, dtype: int64

In [13]:
independent = dataset[['Age', 'EstimatedSalary','Gender_Male']]

In [15]:
dependent = dataset[['Purchased']]

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size = 1/3,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [49]:
from sklearn.naive_bayes import GaussianNB
Classifier = GaussianNB()
Classifier.fit(x_train,y_train)
y_pred = Classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm =  confusion_matrix(y_pred,y_test)
from sklearn.metrics import classification_report
clf_report =  classification_report(y_pred,y_test)
print(clf_report)

              precision    recall  f1-score   support

           0       0.95      0.91      0.93        89
           1       0.84      0.91      0.87        45

    accuracy                           0.91       134
   macro avg       0.89      0.91      0.90       134
weighted avg       0.91      0.91      0.91       134

C:\Anoconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [53]:
from sklearn.naive_bayes import MultinomialNB
Classifier = MultinomialNB()
Classifier.fit(x_train,y_train)
y_pred = Classifier.predict(x_test)
from sklearn.metrics import confusion_matrix
cm =  confusion_matrix(y_pred,y_test)
from sklearn.metrics import classification_report
clf_report =  classification_report(y_pred,y_test)
print(clf_report)

C:\Anoconda3\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Negative values in data passed to ComplementNB (input X)